<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <title>Document</title>
</head>
<body>
     <div class="container">
          <div class="row py-3 ">
               <div class="col-9 p-0">
                    <h3>Trò chơi người lái đò</h3>
               </div>
               <div class="col-3 p-0">
                    <button class="btn btn-primary w-100 h-100">Luật chơi</button>
               </div>
          </div>
          
          <div class="row my-3 px-3 rounded border-primary border" style="height: fit-content;">
               <div class="col-3 position-relative">
                    <div class="selection btn-group w-100 left-side" role="group" aria-label="Basic mixed styles example">
                         <button type="button" class="goat btn btn-danger">Dê</button>
                         <button type="button" class="wolf btn btn-warning">Sói</button>
                         <button type="button" class="cabbage btn btn-success">Bắp cải</button>
                    </div>
                    <div class="row justify-content-md-center who w-100 left-side">
                         <div class="col goat">
                              <img class="w-100" src="/images/goat.png" alt="goat">
                         </div>
                         <div class="col wolf">
                              <img class="w-100" src="/images/wolf.png" alt="wolf">
                         </div>
                         <div class="col cabbage">
                              <img class="w-100" src="/images/cabbage.png" alt="cabbage">
                         </div>
                    </div>
                    
                    <img id="left" class="position-absolute land" src="/images/land.png" alt="left-land">
               </div>
               <div id="river" class="col-6 p-0 position-relative">
                    <img class="w-100" src="/images/river.png" alt="river">
                    <div class="row position-absolute man h-100 w-100">
                         <div class="col-3 left-side h-100">
                              <div class="position-relative h-100 ">
                                   <div class="selection btn-group w-100" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="skip btn btn-secondary">Bỏ qua</button>
                                   </div>
                                   <img class="w-100 position-absolute" src="/images/man.png" alt="man">
                              </div>
                         </div>
                         <div class="col-6"></div>
                         <div class="col-3 right-side h-100">
                              <div class="position-relative h-100">
                                   <div class="selection btn-group w-100" role="group" aria-label="Basic mixed styles example">
                                        <button type="button" class="skip btn btn-secondary">Bỏ qua</button>
                                   </div>
                                   <img class="w-100 position-absolute" src="/images/man.png" alt="man">
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-3 position-relative">
                    <div class="selection btn-group w-100 right-side" role="group" aria-label="Basic mixed styles example">
                         <button type="button" class="goat btn btn-danger" >Dê</button>
                         <button type="button" class="wolf btn btn-warning" >Sói</button>
                         <button type="button" class="cabbage btn btn-success" >Bắp cải</button>
                    </div>
                    <div class="who row justify-content-md-center w-100 right-side">
                         <div class="col goat">
                              <img class="w-100" src="/images/goat.png" alt="goat">
                         </div>
                         <div class="col wolf">
                              <img class=" w-100" src="/images/wolf.png" alt="wolf">
                         </div>
                         <div class="col cabbage">
                              <img class=" w-100" src="/images/cabbage.png" alt="cabbage">
                         </div>
                    </div>
                    <img id="right" class="position-absolute land" src="/images/land.png" alt="right-land">
               </div>
          </div>

          <div class="container text-center">
                    <div class=" btn-group btn-group-lg">
                         <a href="#" id="playerAttempt" class="btn btn-primary" aria-current="page">Chơi</a>
                         <a href="#" id="CPUAttempt" class="btn btn-secondary">Tự chơi</a>
                    </div>
               </div>
          </div>
     </div>
     <script>
          let state = 'llll'
          let leftSideActivate = async () => { 
               $(".selection.left-side").show()
               $(".man > .left-side > div").show()

               $(".selection.right-side").hide()
               $(".man > .right-side > div").hide()
               
          }

          let rightSideActivate = async () => { 
               $(".selection.right-side").show()
               $(".man > .right-side > div").show()

               $(".selection.left-side").hide()
               $(".man > .left-side > div").hide()
          }

          let initGamePlay = async () => { 
               await leftSideActivate()

               $(".who.left-side").children("div.col").each((index, e) => { 
                    $(e).find("img").show();
               })
               $(".who.right-side").children("div.col").each((index, e) => { 
                    $(e).find("img").hide();
               })

               $(".right-side.selection > button").each((index, e) => {
                    $(e).prop("disabled", true)
               })
          }

          $("#playerAttempt").click(async () => { 
               await initGamePlay()

               console.log("GAME START!")
          })

          $("button.skip").click(async (e) => { 
               if ($(e.target).parent().parent().parent().hasClass("left-side")){
                    //console.log("You skipped the left side!")

                    await rightSideActivate()
               }
               else{
                    //console.log("You skipped the right side!")

                    await leftSideActivate()
               }
          })

          $("button.goat").click(async (e) => {
               if ($(e.target).parent().hasClass("left-side")){ 
                    //console.log("You choose the left goat!")

                    $(".left-side").find('div.goat').find('img').hide()
                    $(".left-side").find('button.goat').prop("disabled", true)

                    $(".right-side").find('div.goat').find('img').show()
                    $(".right-side").find('button.goat').prop("disabled", false)

                    await rightSideActivate()
               }
               else{ 
                    //console.log("You choose the right goat!")

                    $(".right-side").find('div.goat').find('img').hide()
                    $(".right-side").find('button.goat').prop("disabled", true)

                    $(".left-side").find('div.goat').find('img').show()
                    $(".left-side").find('button.goat').prop("disabled", false)

                    await leftSideActivate()
               }
               
          })
          $("button.wolf").click(async (e) => {
               if ($(e.target).parent().hasClass("left-side")){ 
                    //console.log("You choose the left wolf!")

                    $(".left-side").find('div.wolf').find('img').hide()
                    $(".left-side").find('button.wolf').prop("disabled", true)

                    $(".right-side").find('div.wolf').find('img').show()
                    $(".right-side").find('button.wolf').prop("disabled", false)

                    await rightSideActivate()
               }
               else{ 
                    //console.log("You choose the right wolf!")

                    $(".right-side").find('div.wolf').find('img').hide()
                    $(".right-side").find('button.wolf').prop("disabled", true)

                    $(".left-side").find('div.wolf').find('img').show()
                    $(".left-side").find('button.wolf').prop("disabled", false)

                    await leftSideActivate()
               }
          })

          $("button.cabbage").click(async (e) => {
               if ($(e.target).parent().hasClass("left-side")){ 
                    //console.log("You choose the left cabbage!")

                    $(".left-side").find('div.cabbage').find('img').hide()
                    $(".left-side").find('button.cabbage').prop("disabled", true)

                    $(".right-side").find('div.cabbage').find('img').show()
                    $(".right-side").find('button.cabbage').prop("disabled", false)

                    await rightSideActivate()
               }
               else{ 
                    //console.log("You choose the right cabbage!")

                    $(".right-side").find('div.cabbage').find('img').hide()
                    $(".right-side").find('button.cabbage').prop("disabled", true)

                    $(".left-side").find('div.cabbage').find('img').show()
                    $(".left-side").find('button.cabbage').prop("disabled", false)

                    await leftSideActivate()
               }
          })
     </script>
</body>
</html>